<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!--Bootstrap CDN, JS, Popper.js, and jQuery-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">


  <title>Garhpals</title>

</head>



<body>
<!--Bootstrap scripts-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>



<nav class="navbar navbar-toggleable-sm py-2 navbar-inverse bg-primary col-xs-12">
  <div class="container ">

    <!--Navbar logo-->
    <div class="nav__logo col-sm-offset-1 hidden-xs-down home">
      <a class="navbar-brand" href="#">Garhpals</a>
    </div>

    <!--Collapse icon-->
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--logo when menu collapses-->
    <div class=" hidden-sm-up">
        <span class="mobileLogo navbar-brand">
          <a class="navbar-brand" href="#"></a>
        </span>
    </div>

    <!--Navbar links-->
    <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">My Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Friends</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Log out</a>
        </li>
      </ul>
    </div>
    <!--end div container-->
  </div>
</nav>




<!--Friends section of the page-->
<section class="">
  <div class="card mx-4 my-4 px-4 py-4">
    <div class="card-body ">
      <h5 class="card-title">Friends</h5>

      <!--have some friends! friends listed below consist of their
          icon
          name
          -->


      <!--ADD FRIEND -->
      <div class="friend col-md-2 col-sm-3 col-xs-4 mx-2">
        <div class="__icon text-center">
          <!--TODO: friend's icon image here-->
          <h1>+</h1>
        </div>

        <div class="__name text-center">
          <!--TODO: add friend functionality-->
          <a href="#">
            <h5>ADD FRIEND</h5>
          </a>
        </div>

        <div class="__deleteButton text-center invisible">
          <!--TODO: delete friend functionatlity-->
          <button class="btn btn-outline-info text-center" type="button">delete</button>
        </div>
        <!--end div friend-->
      </div>



      <!--A single friend... my only friend... -->
      <div class="friend col-md-2 col-sm-3 col-xs-4 mx-2">
        <div class="__icon text-center">
          <!--TODO: friend's icon image here-->
          <img src="../assets/logo.png" alt="" width="50">
        </div>

        <div class="__name text-center">
          <!--TODO: friend's name here, and link to their profile-->
          <a href="#">
            <h5>qwerty asdfafr</h5>
          </a>
        </div>

        <div class="__deleteButton text-center">
          <!--TODO: delete friend functionatlity-->
          <button class="btn btn-outline-info text-center" type="button">delete</button>
        </div>
      <!--end div friend-->
      </div>




      <!--A single friend... my only friend... -->
      <div class="friend col-md-2 col-sm-3 col-xs-4 mx-2">
        <div class="__icon text-center">
          <!--TODO: friend's icon image here-->
          <img src="../assets/logo.png" alt="" width="50">
        </div>

        <div class="__name text-center">
          <!--TODO: friend's name here, and link to their profile-->
          <a href="#">
            <h5>qwerty asdfafr</h5>
          </a>
        </div>

        <div class="__deleteButton text-center">
          <!--TODO: delete friend functionatlity-->
          <button class="btn btn-outline-info text-center" type="button">delete</button>
        </div>
        <!--end div friend-->
      </div>











    </div>
  </div>
</section>

</body>




<!-- Added "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .card {
    border-radius: 10px;
    box-shadow: 2px 2px 3px #888888;
  }
  .friend {
    background-color: #fff;
    display: inline-block;
  }

</style>
